if [ -x /usr/local/bin/gls ]; then
  alias ls='gls --color=always'
  alias dir='gdir --color=always'
  alias vdir='gvdir --color=always'
  alias grep='grep --color=always'
  alias egrep='egrep --color=always'
  alias fgrep='fgrep --color=always'
fi

# List all files colorized in long format
alias ll='ls -lh'

# List all files colorized in long format, including dot files
alias la='ls -lha'

# List only directories
alias lsd='ls -ld */'

# make brew doctor play nice with pyenv
if command -v pyenv 1>/dev/null 2>&1; then
  alias brew='PATH=${PATH//$(pyenv root)\/shims:/} brew'
fi
